## Introduzindo Operações Básicas com Tipos Numéricos e Booleanos

1 - Compute a saída da seguinte expressão matemática sem realizar nenhuma simplificação:
$ a^{2} + \frac{3}{4} \times b \times 987(c - \frac{10^{-9}}{\sqrt{0.5^{3}}}) $. Assuma que os valores das variáveis a, b e c correpondam a 2, 4 e 8, respectivamente. Armazene o resultado em uma variável.

Dica: consulte os operadores aritméticos disponíveis no Python. Utilize a biblioteca math para operação de raiz.

In [2]:
a=2
b=4
c=8
Resposta1= a**2 + ((3/4)*b*987*(c - (10**(-9)/((0.5**3)**1/2))))
Resposta1

23691.999952624

2 - Armazene em uma variável o resto da divisão da expressão anterior por 23691.

In [3]:
Resposta2=Resposta1%23691
Resposta2

0.9999526239989791

3 - Cheque se a saída do resto da divisão é ***i) igual a 1***, ***ii) maior que 1***, ***iii) menor ou igual que 1*** e ***iv) diferente de 1***. Utilize a função *print* para exibir a saída de cada checagem. Consulte os operadores relacionais disponívels no Python.

In [5]:
print('i) Resposta2 ==1: {}'.format(Resposta2==1))
print('\nii)Resposta2 >1 : {}'.format(Resposta2>1))
print('\niii)Resposta2 <=1 : {}'.format(Resposta2<=1))
print('\niv)Resposta2 !=1 : {}'.format(Resposta2!=1))

i) Resposta2 ==1: False

ii)Resposta2 >1 : False

iii)Resposta2 <=1 : True

iv)Resposta2 !=1 : True

4 - Exiba a saída de operações booleanas do tipo **AND** e do tipo **OR** entre dois termos que apresentem valores: 
1. **verdadeiros**;
2. **verdadeiro e falso**;
3. **falsos**.

Ao todo devem ser apresentadas seis operações.

In [9]:
print('\n1- [13 > 1] and [0 < 7] É:',13 > 1, 'e', 0 < 7)
print('\n2- [11 > 8]  E [0 == 7] É:',11>8,'e',0 == 7)
print('\n3- [8 > 13] or [0==7] É:',8 > 13 ,'e', 0 == 7)
print('\n4- [7 > 12] or [0==6] É:',7 > 12 ,'e', 0 == 6)
print('\n5- [10 > 9]  E [1 == 8] É:',10>9,'e',1 == 8)
print('\n6- [14 > 2] and [1 < 6] É:',14 > 2, 'e', 1 < 6)

1- [13 > 1] and [0 < 7] É: True e True

2- [11 > 8]  E [0 == 7] É: True e False

3- [8 > 13] or [0==7] É: False e False

4- [7 > 12] or [0==6] É: False e False

5- [10 > 9]  E [1 == 8] É: True e False

6- [14 > 2] and [1 < 6] É: True e True

5 - Escreva a seguinte expressão booleana **(A + B) . (¬B . A)**. Considere que "+" indica uma operação  OR; "." indica uma operação AND e ''¬'' indica uma operação de negação (NOT). Defina previamente a variávei *A* com valor verdadeiro e a variávei *B* com valor falso.

In [14]:
A=8+1==9 # True
B=3-1>4  # False

Resposta_5 = (A or B) and (not B or A)
Resposta_5

True

6 - Cheque se a saída da expressão booleana da questão imediatamente anterior é falsa.

In [16]:
print("A saída da expressão booleana imediatamente anterior é : {}". format(Resposta_5))

A saída da expressão booleana imediatamente anterior é : True

## Introduzindo Operações com Strings

Dica: você pode utilizar a função *help(arg)* para visualizar os métodos que podem ser acessados a partir de uma variável de um tipo qualquer.

Segue abaixo alguns exemplos:

```
# Exemplo usando como argumento a função que representa o tipo de dado
help(str)

# Exemplo usando uma variavel qualquer
a = "teste"
help(a)

# Exemplo utilizando uma variavel do tipo dicionário
dicionario = {"chave":"valor"}
help(dicionario)

```

7 - Defina uma variável com o valor "hello wORld". Utilize as funções de string do Python para reproduzir as seguintes saídas: "Hello World", "hello world", "HELLO WORLD".  Dica: para visualizar as funções disponíveis digite em uma célula de código `'str' ` e em seguida tecle tab.

In [17]:
a = "hello wORld"
print(a.title())
print(a.lower())
print(a.upper())

Hello World
hello world
HELLO WORLD

8 - Dada a seguinte frase " *Esse é o seu primeiro tweet.* ", remova os espaços em branco das extremidades. Em seguida, substitua a palavra *'primeiro'* por *'segundo'*. 



**Observação:** a operação para remoção de espaços não atua em um modo '*in-place*', isto é, não altera diretamente o objeto, apenas retorna uma cópia modificada que pode ser armazenada em uma variável. A seguir, pode-se conferir um exemplo de uma operação que não é in-place e requer que assinalemos uma variável para receber a modificação.

In [18]:
# EXEMPLO: operação que não atua em modo 'in-place'

a = 'teste'

# primeiro caso
a.replace('ste', 'sta')
print(a)

# segundo caso
a = a.replace('ste', 'sta')
print(a)

teste
testa

In [27]:
a =' Esse é o seu primeiro tweet. '
print(("\n1 - "),(a))

# primeiro caso
b= a.strip()
print(("\n2 - "),(b))

# segundo caso
c = (a.strip()).replace('primeiro', 'segundo')
print(("\n1 - "),(c))

1 -   Esse é o seu primeiro tweet.

2 -  Esse é o seu primeiro tweet.

1 -  Esse é o seu segundo tweet.

9 - Fazendo uso do resultado da questão anterior, exiba a quantidade de ocorrências da palavra *'segundo'* e em seguida a quantidade de caracteres *'s'*.

In [29]:
a='Esse é o seu segundo tweet.'
ocorrencia1=a.count("segundo")
ocorrencia2=a.count("s")
print( 'O total de ocorrencias do texto:"segundo"= {}, e de "s"=: {}'.format(ocorrencia1,ocorrencia2))

O total de ocorrencias do texto:"segundo"= 1, e de "s"=: 4

10 - Concatene duas variáveis do tipo strings com valores arbitrários e exiba o resultado.

**Observação:** A string resultante deve possuir no mínimo quatro caracteres.

In [33]:
a="Exercício Python:"
b=" Parte 01-A-B."
c=(a+b)
c

'Exercício Python: Parte 01-A-B.'

11 - Utilize a indexação e exiba apenas do segundo ao quarto caractere da variável do tipo string resultante questão imediatamente anterior.

In [34]:
print(c[1:5])

xerc

12 - Exiba a string "Mensagem: " seguida pela string armazenada na variável *msg* definida abaixo. Dica: utilize a função format().

In [35]:
msg = "This is your first tweet."
# Insira a resposta abaixo.
print(' Mensagem: "{}"'.format(msg))

 Mensagem: "This is your first tweet."

13  - Reproduza as próximas três mensagens a partir das variáveis definidas na célula de código.

**Mensagem**: Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

In [39]:
tipo_var = "string"
qtd = "três"
# Insira a resposta abaixo.
print("Definir uma {} com {} aspas simples permite construir textos com quebra de linha automática.".format(tipo_var, qtd))

Definir uma string com três aspas simples permite construir textos com quebra de linha automática.

**Mensagem**:  O número pi é aproximadamente 3.14

In [40]:
pi = 3.14159
# Insira a resposta abaixo.
print('''O número pi é aproximadamente {}'''.format(pi))

O número pi é aproximadamente 3.14159

**Mensagem**: O meu nome é [*receber string via input*] e eu tenho [*receber inteiro via input*] anos.

In [42]:
nome=input('informe o nome: ')
idade=int(input('\ninforme idade: '))
print('\nO meu nome é {} e eu tenho {} anos.'.format(nome,idade))

informe o nome: brenda

informe idade: 26

O meu nome é brenda e eu tenho 26 anos.

## Introduzindo Estruturas de Dados

Nessa sessão serão exploradas as estruturas de dados do tipo lista, tupla e dicionário. Para realizar os exercícios abaixos baseados em listas podem ser utilizados métodos como *sum(arg), extend(), reverse(), append(), insert(index, element), sort()*.

### Listas

14 - Realize as seguintes operações:


1. Crie uma lista vazia.
2. Adicione três elementos do tipo inteiro ao final da lista (*o método para adição de novos elementos em uma lista atua de forma in-place, portanto, basta invocá-lo.*).
3. Adicione um novo elemento na segunda posição da lista (*método in-place).
4. Exiba a soma dos quatro elementos (*python já possui uma função built-in para esssa operação*.)
5. Re-assinale o elemento da terceiro posição com um valor do tipo float.
6. Repita o passo 4.
7. Inverta os elementos da lista atual. (*função para inversão é in-place*)
8. Re-ordene os elementos da lista.
9. Armazene uma nova lista em uma variável qualquer com 2 números inteiros.
10. Concatena a nova lista criada com a lista resultante do passo 7.
11. Exiba o valor máximo e mínimo da resultante do passo anterior.

In [43]:
Lista=[]
print('1-Lista vazia:_',Lista)

Lista.insert(0,9)
Lista.insert(1,45)
Lista.insert(2,55)
print('\n2-Lista com 03 elementos:_',Lista)

Lista.insert(1,18)
print('\n3-Lista com novo elemento na segunda posição:_',Lista)

lista1=sum(Lista)
print('\n4-Soma dos 04 elementos da lista:_',lista1)

Lista[2]=45.5
print('\n5-Novo terceiro elemento tipo float:_',Lista)

lista1=sum(Lista)
print('\n6-Soma dos 04 elementos atuais da lista:_',lista1)

Lista.reverse()
print('\n7-Inverter ordem dos elementos da lista:_', Lista)

Lista.sort()
print('\n8-Reordenar dos elementos da lista:_', Lista)

ListaNova=[8, 14]
print('\n9-Nova lista com 02 elementos inteiros:_', ListaNova)

Lista=Lista + ListaNova
print('\n10-Lista nova com a adição da anterior e nova lista:_', Lista)

max(Lista)
min(Lista)
print('\n11-O valor Maximo é {}, e valor Mínimo é {} !'.format(max(Lista),min(Lista)))

1-Lista vazia:_ []

2-Lista com 03 elementos:_ [9, 45, 55]

3-Lista com novo elemento na segunda posição:_ [9, 18, 45, 55]

4-Soma dos 04 elementos da lista:_ 127

5-Novo terceiro elemento tipo float:_ [9, 18, 45.5, 55]

6-Soma dos 04 elementos atuais da lista:_ 127.5

7-Inverter ordem dos elementos da lista:_ [55, 45.5, 18, 9]

8-Reordenar dos elementos da lista:_ [9, 18, 45.5, 55]

9-Nova lista com 02 elementos inteiros:_ [8, 14]

10-Lista nova com a adição da anterior e nova lista:_ [9, 18, 45.5, 55, 8, 14]

11-O valor Maximo é 55, e valor Mínimo é 8 !

15 - Converta a string definida abaixo em uma lista de palavras, armazene a lista em uma variável. Dica: cheque as operações disponíveis para strings.

In [44]:
frase = "Formação de Recursos Humanos Qualificados em Inteligência Artificial"

listfrase=frase.split(' ')
print('frase =', listfrase)

frase = ['Formação', 'de', 'Recursos', 'Humanos', 'Qualificados', 'em', 'Inteligência', 'Artificial']

16 - Verifique se a palavra "Humanos" está contida na lista de palavras criada anteriormente. Exiba True ou False para indicar a resposta.

In [47]:
palavra='Humanos'
procurar_palavra= palavra in listfrase
procurar_palavra

True

17 - Crie automaticamente uma lista contendo 50 elementos de valor 3 e armazene-a em uma variável. Dica: utilize o operador de multiplicação.

In [48]:
ListaAutomat=list([3]*50)
print('ListaAutomat= ',ListaAutomat)

ListaAutomat=  [3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

### Tuplas

18 - Converta a lista resultante da primeira questão sobre Listas para uma tupla e exiba o tipo de dados do objeto criado. Após realizar o casting, utilize a indexação para exibir todos os elementos com exceção do primeiro e último.

In [49]:
palavra='Humanos'
palavra=tuple(palavra)

print('1-ListaHumanos =',palavra) # lista [] para tupla()

print('\n2 -ListaHumanos_index[1:6] = ',palavra[1:6]) # tupla sem o primeiro e o ultimo elemento

1-ListaHumanos = ('H', 'u', 'm', 'a', 'n', 'o', 's')

2 -ListaHumanos_index[1:6] =  ('u', 'm', 'a', 'n', 'o')

19 - Exiba os atributos/métodos disponíveis a partir objetos do tipo lista e tuple utilizados na questão anterior. Dica: utilize o método dir.

In [50]:
Palavralista= list(palavra)

print('ATRIBUTOS/ METODOS TIPO LISTA=\n',dir(Palavralista))

ATRIBUTOS/ METODOS TIPO LISTA=
 ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [51]:
type(Palavralista)

list

In [52]:
Palavratupla= tuple(palavra)

print('ATRIBUTOS/ METODOS TIPO TUPLA=\n', dir(Palavratupla))

ATRIBUTOS/ METODOS TIPO TUPLA=
 ['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [53]:
type(Palavratupla)

tuple

20 - Crie uma tupla contendo 5 números inteiros quaisquer. Em seguida, exiba o valor máximo e o valor mínimo da tupla criada.

In [54]:
tuplaF=(9,42,45,47,55)
tuplaF
max(tuplaF)
min(tuplaF)
print('A tupla= {}, apresenta valores Maximo:{}, e valor Mínimo:{}.'.format(tuplaF,max(tuplaF),min(tuplaF)))

A tupla= (9, 42, 45, 47, 55), apresenta valores Maximo:55, e valor Mínimo:9.

### Dicionários

21 - A partir do dicionário inicializado abaixo com quatro items, adicione três novos items com chaves "three", "four" e "five" e valores "três", "quatro" e "cinco".

In [55]:
my_dict = {}
my_dict["one"] = "um"
my_dict["two"] = "dois"
my_dict[(1,2)] = ["um","dois"]
my_dict[1.3] = "um ponto três"

my_dict["three"] = "três"
my_dict["four"] = "quatro"
my_dict["five"] = "cinco"

#my_dict['three','four','five'] = ['três','quatro', 'cinco']


print('my_dict =', my_dict)

my_dict = {'one': 'um', 'two': 'dois', (1, 2): ['um', 'dois'], 1.3: 'um ponto três', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

22 - A partir do dicionário definido anteriormente, remova o item ("one", "um") do dicionário.

In [56]:
del my_dict['one']
print('my_dict =', my_dict)

my_dict = {'two': 'dois', (1, 2): ['um', 'dois'], 1.3: 'um ponto três', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

23 - A partir do dicionário definido anteriormente, realize as seguintes operações ordenadamente.

1.   Exiba a quantidade de items do dicionário.
2.   Gere automaticamente uma lista contendo as  chaves do dicionário.
3.   Gere automaticamente uma lista contendo os valores do dicionário.
4.   Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
5.   Remova os items cuja chaves são (1,2) e 1.3.
6.   Exiba o dicionário final

In [57]:

# Passo 1:Exiba a quantidade de items do dicionário.

print('1:Exiba a quantidade de items do dicionário:\n R=',len(my_dict))

# Passo 2:Gere automaticamente uma lista contendo as chaves do dicionário.
print('\n2:Gere automaticamente uma lista contendo as chaves do dicionário:\n R= ListaChave=',list(my_dict.keys()))

# Passo 3:print('1:Exiba a quantidade de items do dicionário: 
#my_dict.values()
print('\n3:Gere automaticamente uma lista contendo os valores do dicionário:\n R=ListaValor=',list(my_dict.values()))

ListaTupla = list(my_dict.items())

# Passo 4:Gere automaticamente uma lista composta por tuplas do tipo (chave, valor).
print('\n4:Gere automaticamente uma lista composta por tuplas do tipo (chave, valor):\n R=ListaTupla={}\n'.format(ListaTupla))

#listamydict=list(my_dict)
#listamydict
#tupladic=tuple((x,y) for x, y in my_dict)

# Passo 5:Remova os items cuja chaves são (1,2) e 1.3.
del my_dict[(1,2)]
del my_dict[1.3]

print('5 e 6 : Remova os items cuja chaves são (1,2) e 1.3, e Exiba o dicionário final:\n R= my_dict',my_dict)

# Passo 6:Exiba o dicionário final

1:Exiba a quantidade de items do dicionário:
 R= 6

2:Gere automaticamente uma lista contendo as chaves do dicionário:
 R= ListaChave= ['two', (1, 2), 1.3, 'three', 'four', 'five']

3:Gere automaticamente uma lista contendo os valores do dicionário:
 R=ListaValor= ['dois', ['um', 'dois'], 'um ponto três', 'três', 'quatro', 'cinco']

4:Gere automaticamente uma lista composta por tuplas do tipo (chave, valor):
 R=ListaTupla=[('two', 'dois'), ((1, 2), ['um', 'dois']), (1.3, 'um ponto três'), ('three', 'três'), ('four', 'quatro'), ('five', 'cinco')]

5 e 6 : Remova os items cuja chaves são (1,2) e 1.3, e Exiba o dicionário final:
 R= my_dict {'two': 'dois', 'three': 'três', 'four': 'quatro', 'five': 'cinco'}

24 - A partir dos dicionários '*en*' e '*pt_br*' definidos abaixo, crie um terceiro dicionário denominado '*translator*' cujas chaves são, respectivamente, 'en' e 'pt_br' e os valores sejam os dicionários correspondentes. Exiba o dicionário criado.

In [58]:
pt_br = {1:"um", 2:"dois", 3:"tres"}
en = {1:"one", 2:"two", 3:"three"}

translator={'en':en, 'pt_br':pt_br}
print('translator =',translator)

translator = {'en': {1: 'one', 2: 'two', 3: 'three'}, 'pt_br': {1: 'um', 2: 'dois', 3: 'tres'}}

### Estruturas de Decisão

25 - Utilize estruturas de decisão se-senão para construir um script que simule a árvore de decisão disposta na figura abaixo. Para cada nó da árvore, o usuário deve fornecer um valor a ser armazenado em uma variável e utilizado para verificar o fluxo que deve ser seguido até atingir uma das folha, exibindo algum dos valores "Opção 1", "Opção 2" ou "Opção 3".


![alt text](https://docs.google.com/uc?export=download&id=1i5518GVTI9vh3proj3C1dblBXOJtHAvP)

In [60]:
NOTA =' ATENÇÃO:Informe um valor não inteiro para as variaveis X1, X2, X3 e X4,'
NOTA2 = 'para saber as Opções (1,2,3) escolhidas,\n a partir dos valores computados:\n'


x1 = input('{}{}\n Informe um valor para a variavel X1:'.format(NOTA, NOTA2))
if (float(x1) > 3.77):
    print('Você escolheu: Opção1!')
else:
    x2 = input('Informe um valor para a variavel X2:')
    if (float(x2) > 0.5):
        x3 = input('Informe um valor para a variavel X3:')
        if (float(x3) >= 0.78):
            print("Você escolheu: Opção2!")
        else:
            print("Você escolheu: Opção1!")
    else:
        x4 = input('Informe um valor para a variavel X4:')
        if (float(x4) > 0.25 and float(x4) < 0.5):
            print("Você escolheu: Opção1!")
        elif (float(x4) > 0.5 or float(x4) <= 0.25):
            print("Você escolheu: Opção2!")
        else:
            print("Você escolheu: Opção3!")

 ATENÇÃO:Informe um valor não inteiro para as variaveis X1, X2, X3 e X4,para saber as Opções (1,2,3) escolhidas,
 a partir dos valores computados:

 Informe um valor para a variavel X1:2
Informe um valor para a variavel X2:3
Informe um valor para a variavel X3:5
Você escolheu: Opção2!

### Estruturas de Repetição

for (with range), while, list comprehension

26 - Crie um programa que receba do usuário uma entrada referente a string "Please, type 'q' to quit". Enquanto o usuário não digitar o caractere 'q', o programa deve exibir "Sorry, try again." e continuar solicitando a informação. Dica: utilize o comando break para interrupção.

In [62]:
while True:
    opcaodada=input('Informe uma letra que falta para completar a frase:"Please, type "X" to quit":')
        
    if opcaodada!='q':
        print('"Sorry, try again." ')
        
    else:
        print('Parabéns! acertou!')
        break

Informe uma letra que falta para completar a frase:"Please, type "X" to quit":x
"Sorry, try again."
Informe uma letra que falta para completar a frase:"Please, type "X" to quit":c
"Sorry, try again."
Informe uma letra que falta para completar a frase:"Please, type "X" to quit":q
Parabéns! acertou!

27 - Crie um programa que imprima apenas os números ímpares entre 1 e 100.

In [63]:
print('Os valores impares do internvalo de 1 a 100 são:')
start, end= 1, 100
for num in range(start, end+1):
    if num %2!=0:
                print(num,end=",")

Os valores impares do internvalo de 1 a 100 são:
1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,31,33,35,37,39,41,43,45,47,49,51,53,55,57,59,61,63,65,67,69,71,73,75,77,79,81,83,85,87,89,91,93,95,97,99,

28 - A partir da lista definida abaixo, crie uma nova lista contendo apenas os números negativos. Dica: considere utilizar o modo list comprehension.

In [64]:
lista = [-6, 21, -22, 4, -17, -21, 22, -11, 3, 28]
ListaNova = lista
print('Nova Lista de números menores negativos:',[x for x in ListaNova if x < 0])

Nova Lista de números menores negativos: [-6, -22, -17, -21, -11]

29 - Converta a string definida abaixo em uma lista de palavras. Em seguida, crie um dicionário cujas chaves são as palavras contidas no texto e os valores representem a quantidade de ocorrências da palavra em questão.

In [65]:

import re 

texto = '''
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas maximus consequat libero sed eleifend. Mauris pulvinar quam pharetra 
est efficitur maximus. Mauris tincidunt neque cursus ante vehicula viverra. Nullam neque neque, lobortis ut lacinia in, euismod non purus. 
Quisque egestas pellentesque nulla eget egestas. In sem felis, pellentesque bibendum hendrerit varius, dapibus blandit libero. Nunc 
fermentum id risus vel suscipit. Aenean laoreet posuere purus ac viverra. Sed vitae sem finibus, tempor magna a, iaculis ex. Pellentesque 
sit amet scelerisque purus, quis volutpat ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla cursus est metus, vitae 
molestie elit porta a. Praesent pharetra odio id purus auctor porttitor a ut risus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
'''
Texto=texto.lower()                      

novotexto = re.sub(r'[^\w\s]','',Texto)   
                                            

listatexto = novotexto.split()           

DicLista={}

for a in listatexto:
    DicLista[a]=listatexto.count(a)        
    

print('DicLista=\n',DicLista)

DicLista=
 {'lorem': 3, 'ipsum': 3, 'dolor': 3, 'sit': 4, 'amet': 4, 'consectetur': 3, 'adipiscing': 3, 'elit': 4, 'maecenas': 1, 'maximus': 2, 'consequat': 1, 'libero': 2, 'sed': 2, 'eleifend': 1, 'mauris': 2, 'pulvinar': 1, 'quam': 1, 'pharetra': 2, 'est': 2, 'efficitur': 1, 'tincidunt': 1, 'neque': 3, 'cursus': 2, 'ante': 2, 'vehicula': 1, 'viverra': 2, 'nullam': 1, 'lobortis': 1, 'ut': 2, 'lacinia': 1, 'in': 2, 'euismod': 1, 'non': 1, 'purus': 4, 'quisque': 1, 'egestas': 2, 'pellentesque': 3, 'nulla': 2, 'eget': 1, 'sem': 2, 'felis': 1, 'bibendum': 1, 'hendrerit': 1, 'varius': 1, 'dapibus': 1, 'blandit': 1, 'nunc': 1, 'fermentum': 1, 'id': 2, 'risus': 2, 'vel': 1, 'suscipit': 1, 'aenean': 1, 'laoreet': 1, 'posuere': 1, 'ac': 1, 'vitae': 2, 'finibus': 1, 'tempor': 1, 'magna': 1, 'a': 3, 'iaculis': 1, 'ex': 1, 'scelerisque': 1, 'quis': 1, 'volutpat': 1, 'metus': 1, 'molestie': 1, 'porta': 1, 'praesent': 1, 'odio': 1, 'auctor': 1, 'porttitor': 1}

30 - Imprima o dicionário gerado no passo anterior seguindo uma ordem alfabética. 

Dicas: 
1. Python já possui uma função built-in ordenação de listas
2. É possível utilizar uma estrutura de repetição para construir um novo dicionário.

In [66]:
sorted(DicLista.items())

[('a', 3),
 ('ac', 1),
 ('adipiscing', 3),
 ('aenean', 1),
 ('amet', 4),
 ('ante', 2),
 ('auctor', 1),
 ('bibendum', 1),
 ('blandit', 1),
 ('consectetur', 3),
 ('consequat', 1),
 ('cursus', 2),
 ('dapibus', 1),
 ('dolor', 3),
 ('efficitur', 1),
 ('egestas', 2),
 ('eget', 1),
 ('eleifend', 1),
 ('elit', 4),
 ('est', 2),
 ('euismod', 1),
 ('ex', 1),
 ('felis', 1),
 ('fermentum', 1),
 ('finibus', 1),
 ('hendrerit', 1),
 ('iaculis', 1),
 ('id', 2),
 ('in', 2),
 ('ipsum', 3),
 ('lacinia', 1),
 ('laoreet', 1),
 ('libero', 2),
 ('lobortis', 1),
 ('lorem', 3),
 ('maecenas', 1),
 ('magna', 1),
 ('mauris', 2),
 ('maximus', 2),
 ('metus', 1),
 ('molestie', 1),
 ('neque', 3),
 ('non', 1),
 ('nulla', 2),
 ('nullam', 1),
 ('nunc', 1),
 ('odio', 1),
 ('pellentesque', 3),
 ('pharetra', 2),
 ('porta', 1),
 ('porttitor', 1),
 ('posuere', 1),
 ('praesent', 1),
 ('pulvinar', 1),
 ('purus', 4),
 ('quam', 1),
 ('quis', 1),
 ('quisque', 1),
 ('risus', 2),
 ('scelerisque', 1),
 ('sed', 2),
 ('sem', 2),
 ('sit', 4),
 ('suscipit', 1),
 ('tempor', 1),
 ('tincidunt', 1),
 ('ut', 2),
 ('varius', 1),
 ('vehicula', 1),
 ('vel', 1),
 ('vitae', 2),
 ('viverra', 2),
 ('volutpat', 1)]

31 - Na lista 'colors' definida abaixo têm-se três tipos diferentes de cores. A partir dela, crie uma nova lista na qual cada string deve assumir uma lista com valores inteiros seguindo uma estratégia binária da seguinte forma:

```
red,	green,	blue
[1,		0,		0]
[0,		1,		0]
[0,		0,		1]

```

Dica: crie uma lista com os três possíveis valores e utilize a posição do elemento.

In [69]:
colors = ['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']
colors2 = colors.copy()
for i in range(len(colors)):
    if colors2[i] == 'red':
        colors2[i] = [1,0,0]
    elif colors2[i] == 'green':
        colors2[i] = [0,1,0]
    elif colors2[i] == 'blue':
        colors2[i] = [0,0,1]
print('Resposta Lista cores com Valores :\ncolors2 ={}'.format(colors2))

Resposta Lista cores com Valores :
colors2 =[[0, 0, 1], [0, 0, 1], [0, 1, 0], [0, 0, 1], [1, 0, 0], [1, 0, 0], [0, 1, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0]]

32 - A partir da lista resultante da questão imediatamente anterior,  reverta o processo e retorne uma lista contendo as strings 'blue', 'green' e 'red'.

In [70]:
colors22 = colors2.copy()
for i in range(len(colors)):
    if colors22[i] == [1,0,0]:
        colors22[i] = 'red'
    elif colors22[i] == [0,1,0]:
        colors22[i] = 'green'
    elif colors22[i] == [0,0,1]:
        colors22[i] = 'blue'
print('Resposta Lista cores retorno :\ncolors22 ={}'.format(colors22))

Resposta Lista cores retorno :
colors22 =['blue', 'blue', 'green', 'blue', 'red', 'red', 'green', 'blue', 'green', 'red']